
  <div class="login-html" style="background:url('/assets/img/Login-Screen-BG.jpg') no-repeat center center fixed;background-size: cover">
     
    <img [ngClass]="classShowLogo ? 'login-logo' : 'login-logo-Hide'" class="img"
      src="/assets/img/Login-Screen-LOGO.png" />
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label style="visibility:hidden" for="tab-1" class="tab">Sign In</label>
      <input id="tab-2" type="radio" name="tab" class="sign-up"><label style="visibility:hidden" for="tab-2" class="tab">Sign Up</label>
    <div class="login-form">
      <div class="sign-in-htm">
        <div class="hhr"></div>
        <tbody>
          <div class="group">
            <!-- <label for="user" class="label">Username</label> -->
            <!-- <ion-input class="input" type="text" [(ngModel)]="username"></ion-input> -->
            <tr>
              <td>
                <mat-icon>person</mat-icon>
              </td>
              <td class="col-5">
                <input id="user" type="text" [(ngModel)]="oUsername" placeholder="Username" class="input">
              </td>
            </tr>
          </div>
          <div class="hhhr"></div>
          <div class="group">
            <!-- <label for="pass" class="label">Password</label> -->
            <tr>
              <td>
                <mat-icon>lock</mat-icon>
              </td>
              <td>
                <input id="pass" type="password"  [(ngModel)]="oPassword" class="input" placeholder="Password" data-type="password">
              </td>
            </tr>
            <!-- <ion-input style="border-bottom:1px; border-style:solid;" placeholder="Text Input"></ion-input> -->
          </div>
        </tbody>

        <div class="hr"></div>
        <div class="group">
          <button class="button" (click)="doLogin(oUsername,oPassword)">Log in</button>

          <button class="loginBtn loginBtn--facebook" (click)="doLoginFB()">Login with Facebook</button>
        </div>
        <div class="hhhr"></div>
        <div class="foot-lnk">
          <a (click)="forgotPass()" style="color:white">FORGOT PASSWORD?</a>
        </div>
        <div class="hr"></div>
        <div class="group">
          <label class="button-signup" for="tab-2">SIGNUP</label>
        </div>   
      </div>
      <div class="sign-up-htm">
        <div class="group">
           <!--<label for="user" class="label"> <mat-icon>person</mat-icon></label> </td> -->
           <input type="text" placeholder="Username" [(ngModel)]="rusername" class="input">
        </div>
        <div class="hhr"></div>
        <div class="group">
          <!-- <label for="pass" class="label">Password</label> -->
          <input type="password" placeholder="Password" [(ngModel)]="rpassword" class="input" data-type="password">
        </div>
        <div class="hhr"></div>
        <div class="group">
          <!-- <label for="pass" class="label">Repeat Password</label> -->
          <input type="password" placeholder="Confirm Password" [(ngModel)]="rconfirmpass" class="input" data-type="password">
        </div>
        <div class="hhr"></div>
        <div class="group">
          <!-- <label for="pass" class="label">Email Address</label> -->
          <input type="text" placeholder="E-Mail" [(ngModel)]="remail" class="input">
        </div>
        <div class="hhr"></div>
        <div class="group">
          <!-- <label for="pass" class="label">Email Address</label> -->
          <input type="text" placeholder="Mobile" [(ngModel)]="rmobile" class="input">
        </div>
        <div class="group">
          <input id="check" type="checkbox" [(ngModel)]="rterm" class="check">
          <label for="check"><span class="icon"></span> I accept the terms and conditions.</label>
        </div>
        <div class="group">
          <input type="submit" (click)="registerProfile(rusername,rpassword,rconfirmpass,remail,rterm,rmobile)" class="button button-signup" value="Sign Up">
        </div>
        <div class="hhhr"></div>
        <div class="foot-lnk">
          <div class="group">
            <label class="button-signup" for="tab-1">BACK TO LOGIN</label>
          </div>
        </div>
      </div>
    </div>
    </div>
